body {
    background-color: $themeGreen;


    nav {
        margin-top: 10px;
        margin-bottom: 2vh;

        @media screen and (min-height: 900px) {
            margin-bottom: 10vh;
        }

        .nav-wrap {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 30px;

            .main-title {
                color: $themeWhite;
                font-size: 2rem;
                font-weight: 600;
                justify-self: flex-start;
                margin-bottom: 0px;
            }
    
            .audio-control {
                margin-left: auto;
                margin-right: auto;    
                max-width: 150px;
                padding: 10px;
                padding-left: 25px;
                padding-right: 25px;
    
                background-color: $transparent;
                border-radius: 20px;
                display: flex;
                justify-content: center;
        
                .play-button {
                    color: $themeWhite;
                    font-size: 28px;
        
                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }
            }
    
            .bar {
                background-color: $themeWhite;
                width: 26px;
                height: 4px;
                margin-bottom: 5px;
                justify-self: flex-end;
            }
        }
    }

    .main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px;

        .looper-outer {
            height: 485px;
            width: 330px;
            border-radius: 40px;
            padding: 18px;
            margin-bottom: 30px;
            background-color: $transparent;
            
            .looper {
                height: 100%;
                background-color: $themeBlack;
                border-radius: 40px;
                padding: 15px;
                position: relative;

                .looper-header {
                    margin-top: 15px;
                    margin-bottom: 30px;

                    h2 {
                        color: $themeWhite;
                        font-size: 24px;
                    }
                }

                .loop-button-circle {
                    margin-left: auto;
                    margin-right: auto;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $themeWhite;
                    box-shadow: 0 0 0 13px $transparent;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .loop-button, .loop-stop {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #F17474;
                        transition: all 0.25s;

                        &:hover, &:focus {
                            cursor: pointer;
                        }
                    }

                    .loop-button-recording {
                        width: 35px;
                        height: 35px;
                        border-radius: 20%;
                    }
                }

                .loop-bars {
                    position: absolute;
                    top: 100px;
                    left: 30px;
                    background-color: $transparent;
                    border-radius: 15px;
                    padding: 3px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    

                    .loop-bars-inc, .loop-bars-dec {
                        font-size: 30px;
                        color: $themeWhite;
                    }

                    .loop-bars-input {
                        display: block;
                        color: $themeWhite;
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center; 
                        border: 0px;
                        width: 30px;
                        padding: 0px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        outline: none;
                        background: transparent;
                    }
                }

                .vol-field {
                    margin-top: 15px;

                    .vol-title {
                        font-size: 18px;
                        color: $themeWhite;
                        margin-bottom: 0px;
                        padding-bottom: 2px;
                    }

                    .vol-control {
                        -webkit-appearance: none;
                        background: linear-gradient(90deg, $themeLightGreen 30%, $themeWhite 30%);
                        border-radius: 15px;
                        width: 249px;
                        height: 10px;
                        margin-left: 15px;
                        margin-right: 15px;
                        outline: none;
                        

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: $themeWhite;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: none !important;

                            &:hover, &focus {
                                cursor: pointer;
                            }
                        }

                        &::-moz-range-thumb {
                            background-color: $themeWhite;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: none !important;
                        }
                    }
                }
            }
        }
    }

    .glider-contain {
        margin-bottom: 15px;

        @media screen and (min-height: 900px) {
            margin-bottom: 50px;
        }
        
        .glider {
            -ms-overflow-style: none;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                height: 0px !important;
                width: 0 !important;
                background: transparent;
                display: none;
            }

            .glider-item{

                display: flex;
                justify-content: center;

            }
        }

        .dots {
            margin-top: -20px;
        }

    }

    .bottom {
        margin-left: auto;
        margin-right: auto;  
        margin-bottom: 20px;  
        max-width: 350px;

        .metronome {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            @media screen and (min-height: 900px) {
                margin-bottom: 40px;
            }

            .metronome-dot {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $themeWhite;
            }

            .current-dot {
                background-color: $themeBlack;
            }
        }
        .bpm-control {
            display: flex;
            justify-content: center;
            align-content: center;

            .bpm {
                padding: 15px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: $transparent;
                border-radius: 20px;
                margin-right: 10px;
                
                .text-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: bottom;
                    color: $themeWhite;
                    font-size: 24px;
                    font-weight: 600;

                    .input-wrapper {
                        .bpm-input {
                            display: block;
                            margin-top: -0.1em;
                            margin-bottom: 0px;
                            margin-right: 5px;
                            color: $themeWhite;
                            font-size: 24px;
                            font-weight: 600;
                            text-align: right; 
                            border-radius: 0;
                            border: 0px;
                            border-bottom: solid 3px;
                            width: 45px;
                            padding: 0px;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            outline: none;
                            background: transparent;
                        }
                    }

                    .bpm-text {
                        padding: 0px;
                        margin-right: 10px;
                    }
                }
            }

            .bpm-mute {
                padding: 18px;
                background-color: $transparent;
                border-radius: 20px;

                i {
                    font-size: 25px;
                    color: $themeWhite;
                    transition: all 0.5s;

                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }

                .bpm-mute-disable {
                    opacity: 30%;
                }
            }
        }

    }   
}