body {
    background-color: $themeGreen;

    nav {
        margin-top: 10px;
        margin-bottom: 3vh;

        @media screen and (min-height: 900px) {
            margin-bottom: 10vh;
        }

        .nav-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 30px;

            .main-title {
                color: $themeWhite;
                font-size: 2rem;
                font-weight: 600;
                justify-self: flex-start;
                margin-bottom: 0px;
            }
    
            .audio-control {
                width: 145px;
                padding: 10px;
                padding-left: 25px;
                padding-right: 25px;
    
                background-color: $themeTransparent;
                border-radius: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
        
                .play-button {
                    color: $themeWhite;
                    font-size: 28px;
        
                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }

                .separator {
                    width: 4px;
                    height: 35px;
                    border-radius: 2px;
                    background-color: $themeWhite;
                    margin-left: 5px;
                }
                
                .record-button {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: $themeRed;
                    margin-left: 5px;
                }
            }
    
            .burger {
                cursor: pointer;                

                .bar {
                    background-color: $themeWhite;
                    width: 26px;
                    height: 4px;
                    margin-bottom: 5px;
                    justify-self: flex-end;
                    transition: transform 0.3s, opacity 0.3s;
                }

                &.active {
                    .bar1 {
                        transform: rotate(-45deg) translate(-5px, 5px);
                    }
                    
                    .bar2 { 
                        opacity: 0;
                    }
                    
                    .bar3 {
                        transform: rotate(45deg) translate(-6px, -8px);
                    }
                }
            }

            .nav-list {
                position: absolute;
                z-index: 1000;
                top: 65px;
                right: 20px;
                height: 110px;
                padding: 20px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                pointer-events: none;
                border-radius: 22px;
                background-color: $themeWhite;
                transform: scale(0.5);
                transition: opacity 0.2s, transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);

                .nav-item {
                    color: $themeGreen;
                    font-size: 24px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .nav-list.active {
                opacity: 1;
                pointer-events: all;
                transform: scale(1.0);
            }
        }
    }
    .instruction-popup {
        padding: 15px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;        
        z-index: 1000;        
        transform: scale(0.5);
        transition: opacity 100ms ease-in-out, transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);

        .instruction-popup-inner {
            position: relative;
            background-color: $themeWhite;
            border-radius: 30px;
            padding: 30px;
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            img {
                width: 50%;
                flex: 1;
            }

            .instruction-wrapper {
                color: $themeBlack;
                flex: 1;

                .instruction-title {
                    font-size:40px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }

                .instruction-content {
                    letter-spacing: 1px; 
                    line-height: 22px; 
                    

                    p:nth-child(1) {
                        margin-bottom: 15px
                    }

                    p:nth-child(2) {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }

            i {
                color: $themeBlack;
                font-size: 20px;
                position: absolute;
                top: 20px;
                right: 24px;
                cursor: pointer;                    
            }

            .instruction-dismiss {
                background-color: $themeGreen;
                padding: 13px 25px;
                width: 100%;
                border-radius: 20px;
                text-decoration: none;
                color: $themeWhite;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 500;
                margin: 15px;            
                outline: none;
                box-shadow: none;
                border: none;
                cursor: pointer;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .instruction-popup.active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);        

    }

    .main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px;        

        .looper-outer {
            position: relative;
            height: 465px;
            width: 330px;
            border-radius: 40px;
            padding: 18px;
            margin-bottom: 10px;
            background-color: $themeTransparent;
            
            .looper {
                height: 100%;
                background-color: $themeBlack;
                border-radius: 40px;
                padding: 15px;
                position: relative;
                transition: filter 0.5s;

                .looper-header {
                    margin-top: 15px;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;                    

                    h2 {
                        color: $themeWhite;
                        font-weight: 600;
                        font-size: 24px;
                    }

                    .looper-mute {
                        padding: 10px;
                        margin-bottom: 0.5rem;                        
                        border-radius: 20px;
        
                        i {
                            font-size: 25px;
                            color: $themeWhite;
                            transition: all 0.5s;
        
                            &:hover, &:focus {
                                cursor: pointer;
                            }
                        }
        
                        .looper-mute-disable {
                            opacity: 30%;
                        }
                    }
                }

                .loop-button-circle {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $themeWhite;
                    // box-shadow: 0 0 0 13px $themeTransparent;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .loop-button, .loop-stop {
                        position: relative;
                        z-index: 100;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #F17474;
                        transition: all 0.25s;

                        &:hover, &:focus {
                            cursor: pointer;
                        }
                    }

                    .loop-button-recording {
                        width: 35px;
                        height: 35px;
                        border-radius: 20%;
                    }

                    svg {
                        position: absolute;                    

                        .loop-button-track {
                            stroke: $themeTransparent;
                            fill: none;
                            stroke-width: 13px;
                        }

                        .loop-button-progress {
                            stroke: $themeLightGreen;
                            fill: none;
                            stroke-width: 13px;

                            transform: rotate(-90deg);
                            transform-origin: center;

                            transition: stroke-dashoffset 0.5s;
                        }
                    }
                }

                .loop-bars {
                    position: absolute;
                    top: 100px;
                    left: 30px;
                    background-color: $themeTransparent;
                    border-radius: 15px;
                    padding: 3px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    

                    .loop-bars-inc, .loop-bars-dec {
                        font-size: 30px;
                        color: $themeWhite;
                        cursor: pointer;
                    }

                    .loop-bars-input {
                        display: block;
                        color: $themeWhite;
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center; 
                        border: 0px;
                        width: 30px;
                        padding: 0px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        outline: none;
                        background: transparent;
                    }
                }

                .slider-field {
                    .slider-title {
                        font-size: 16px;
                        color: $themeWhite;
                        margin-bottom: 0px;
                        padding-bottom: 2px;
                    }

                    .slider-control {
                        -webkit-appearance: none;
                        background: linear-gradient(90deg, $themeLightGreen 30%, $themeWhite 30%);
                        border-radius: 15px;
                        width: 249px;
                        height: 10px;
                        margin-left: 15px;
                        margin-right: 15px;
                        outline: none;
                
                        

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: $themeWhite;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: none !important;

                            &:hover, &focus {
                                cursor: pointer;
                            }
                        }

                        &::-moz-range-thumb {
                            background-color: $themeWhite;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: none !important;
                        }
                    }
                }

                .effects-title {
                    font-size: 16px;
                    color: $themeWhite;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    padding-bottom: 2px;
                }

                .effects-field {
                    padding: 8px 15px 10px 15px;
                    display: flex;
                    justify-content: start;

                    .effect {
                        background-color: $themeTransparent;
                        color: $themeWhite;
                        font-size: 14px;
                        padding: 7px 12px;
                        border-radius: 10px;
                        margin-right: 8px;
                        cursor: pointer;
                    }                    
                }
            }

            .looper.blur {
                filter: blur(1px) brightness(80%);
                transition: filter 0.5s;
            }

            .effect-popup {
                position: absolute;
                z-index: 150;
                top: 150px;
                left: 40px;
                background-color: #444345;
                border-radius: 20px;
                opacity: 0;
                pointer-events: none;
                width: 250px;
                min-height: 150px;
                padding: 15px;
                padding-bottom: 20px;
                transform: scale(0.5);
                transition: opacity 100ms ease-in-out, transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);

                i {
                    color: $themeWhite;
                    font-size: 18px;
                    position: absolute;
                    top: 12px;
                    right: 16px;
                    cursor: pointer;                    
                }

                .effect-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    .effect-title {
                        font-size: 16px;
                        color: $themeWhite;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        padding-bottom: 5px;
                    }

                    .effect-toggle {
                        position: relative;    
                        top: 5px;                   
                        width: 35px;
                        height: 20px;
                        margin: 0px 10px;
                        -webkit-appearance: none;
                        background-color: $themeTransparent;
                        outline: none;
                        border-radius: 10px;
                        transition: all 0.5s;

                        &:checked {
                            background-color: #A9C9BD;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            border-radius: 10px;
                            top: 0px;
                            left: 0px;
                            background-color: $themeWhite;
                            transition: all 0.4s;
                        }


                        &:checked::before {
                            left: 15px;                            
                        }
                    }

                }

                .slider-title {
                    font-size: 16px;
                    color: $themeWhite;
                    margin-bottom: 0px;
                    padding-bottom: 2px;
                }

                .slider-control {
                    -webkit-appearance: none;
                    background: linear-gradient(90deg, $themeLightGreen 30%, $themeWhite 30%);
                    border-radius: 15px;
                    width: 200px;
                    height: 10px;
                    margin-left: 15px;
                    margin-right: 15px;
                    outline: none;
            
                    

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        background-color: $themeWhite;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: none !important;

                        &:hover, &focus {
                            cursor: pointer;
                        }
                    }

                    &::-moz-range-thumb {
                        background-color: $themeWhite;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: none !important;
                    }
                }
            }

            .effect-popup.active {
                opacity: 1;
                pointer-events: all;
                top: 150px;
                transform: scale(1);
                transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
            }
        }

        .add-looper {
            color: $themeWhite;
            font-size: 40px;
            border-radius: 25px;
            background-color: $themeTransparent;     
            padding: 25px;
            cursor: pointer;
        }
    }
    .main.blur {
        filter: blur(1px) brightness(90%);
    }

    .glider-contain {
        margin-bottom: 30px;

        @media screen and (min-height: 900px) {
            margin-bottom: 50px;
        }
        
        .glider {
            -ms-overflow-style: none;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                height: 0px !important;
                width: 0 !important;
                background: transparent;
                display: none;
            }

            .glider-item{
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }


    }

    .bottom {
        margin-left: auto;
        margin-right: auto;  
        margin-bottom: 20px;  
        max-width: 300px;

        .metronome {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            @media screen and (min-height: 900px) {
                margin-bottom: 40px;
            }

            .metronome-dot {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: $themeWhite;
            }

            .current-dot {
                background-color: $themeBlack;
            }
        }
        .bpm-control {
            display: flex;
            justify-content: center;
            align-content: center;

            .bpm {
                padding: 15px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: $themeTransparent;
                border-radius: 20px;
                margin-right: 10px;
                
                .text-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: bottom;
                    color: $themeWhite;
                    font-size: 24px;
                    font-weight: 600;

                    .input-wrapper {
                        .bpm-input {
                            display: block;
                            margin-top: -0.1em;
                            margin-bottom: 0px;
                            margin-right: 5px;
                            color: $themeWhite;
                            font-size: 24px;
                            font-weight: 600;
                            text-align: right; 
                            border-radius: 0;
                            border: 0px;
                            border-bottom: solid 3px;
                            width: 45px;
                            padding: 0px;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            outline: none;
                            background: transparent;
                        }
                    }

                    .bpm-text {
                        padding: 0px;
                        margin-right: 10px;
                    }
                }
            }

            .bpm-mute {
                padding: 18px;
                background-color: $themeTransparent;
                border-radius: 20px;

                i {
                    font-size: 25px;
                    color: $themeWhite;
                    transition: all 0.5s;

                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }

                .bpm-mute-disable {
                    opacity: 30%;
                }
            }
        }

    }   
}