html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
}

a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-hightlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 10px 15px 10px;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  padding: 0px 15px 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.glider-track {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev, .glider-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  border: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #FFFFFF;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-box !important;
  display: inline-flex !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

body {
  background-color: #94AFA6;
}

body nav {
  margin-top: 10px;
  margin-bottom: 3vh;
}

@media screen and (min-height: 900px) {
  body nav {
    margin-bottom: 10vh;
  }
}

body nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 30px;
}

body nav .nav-wrap .main-title {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  justify-self: flex-start;
  margin-bottom: 0px;
}

body nav .nav-wrap .audio-control {
  width: 145px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav-wrap .audio-control .play-button {
  color: #FFFFFF;
  font-size: 28px;
}

body nav .nav-wrap .audio-control .play-button:hover, body nav .nav-wrap .audio-control .play-button:focus {
  cursor: pointer;
}

body nav .nav-wrap .audio-control .separator {
  width: 4px;
  height: 35px;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin-left: 5px;
}

body nav .nav-wrap .audio-control .record-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F17474;
  margin-left: 5px;
}

body nav .nav-wrap .bar {
  background-color: #FFFFFF;
  width: 26px;
  height: 4px;
  margin-bottom: 5px;
  justify-self: flex-end;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

body .main .looper-outer {
  position: relative;
  height: 465px;
  width: 330px;
  border-radius: 40px;
  padding: 18px;
  margin-bottom: 10px;
  background-color: rgba(239, 239, 239, 0.3);
}

body .main .looper-outer .looper {
  height: 100%;
  background-color: #4B4B4B;
  border-radius: 40px;
  padding: 15px;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

body .main .looper-outer .looper .looper-header {
  margin-top: 15px;
  margin-bottom: 30px;
}

body .main .looper-outer .looper .looper-header h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
}

body .main .looper-outer .looper .loop-button-circle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .looper-outer .looper .loop-button-circle .loop-button, body .main .looper-outer .looper .loop-button-circle .loop-stop {
  position: relative;
  z-index: 100;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #F17474;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body .main .looper-outer .looper .loop-button-circle .loop-button:hover, body .main .looper-outer .looper .loop-button-circle .loop-button:focus, body .main .looper-outer .looper .loop-button-circle .loop-stop:hover, body .main .looper-outer .looper .loop-button-circle .loop-stop:focus {
  cursor: pointer;
}

body .main .looper-outer .looper .loop-button-circle .loop-button-recording {
  width: 35px;
  height: 35px;
  border-radius: 20%;
}

body .main .looper-outer .looper .loop-button-circle svg {
  position: absolute;
}

body .main .looper-outer .looper .loop-button-circle svg .loop-button-track {
  stroke: rgba(239, 239, 239, 0.3);
  fill: none;
  stroke-width: 13px;
}

body .main .looper-outer .looper .loop-button-circle svg .loop-button-progress {
  stroke: #DEFFE7;
  fill: none;
  stroke-width: 13px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: stroke-dashoffset 0.5s;
  transition: stroke-dashoffset 0.5s;
}

body .main .looper-outer .looper .loop-bars {
  position: absolute;
  top: 100px;
  left: 30px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 15px;
  padding: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .looper-outer .looper .loop-bars .loop-bars-inc, body .main .looper-outer .looper .loop-bars .loop-bars-dec {
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
}

body .main .looper-outer .looper .loop-bars .loop-bars-input {
  display: block;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  border: 0px;
  width: 30px;
  padding: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: transparent;
}

body .main .looper-outer .looper .slider-field .slider-title {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

body .main .looper-outer .looper .slider-field .slider-control {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #DEFFE7), color-stop(30%, #FFFFFF));
  background: linear-gradient(90deg, #DEFFE7 30%, #FFFFFF 30%);
  border-radius: 15px;
  width: 249px;
  height: 10px;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}

body .main .looper-outer .looper .slider-field .slider-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none !important;
}

body .main .looper-outer .looper .slider-field .slider-control::-webkit-slider-thumb:hover, body .main .looper-outer .looper .slider-field .slider-control::-webkit-slider-thumbfocus {
  cursor: pointer;
}

body .main .looper-outer .looper .slider-field .slider-control::-moz-range-thumb {
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none !important;
}

body .main .looper-outer .looper .effects-title {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

body .main .looper-outer .looper .effects-field {
  padding: 8px 15px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .main .looper-outer .looper .effects-field .effect {
  background-color: rgba(239, 239, 239, 0.3);
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 10px;
  margin-right: 8px;
  cursor: pointer;
}

body .main .looper-outer .looper.blur {
  -webkit-filter: blur(1px) brightness(80%);
          filter: blur(1px) brightness(80%);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

body .main .looper-outer .effect-popup {
  position: absolute;
  z-index: 150;
  top: 150px;
  left: 40px;
  background-color: #444345;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  width: 250px;
  min-height: 150px;
  padding: 15px;
  padding-bottom: 20px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 100ms ease-in-out, -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: opacity 100ms ease-in-out, -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: opacity 100ms ease-in-out, transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: opacity 100ms ease-in-out, transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

body .main .looper-outer .effect-popup i {
  color: #FFFFFF;
  font-size: 18px;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}

body .main .looper-outer .effect-popup .effect-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .main .looper-outer .effect-popup .effect-header .effect-title {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

body .main .looper-outer .effect-popup .effect-header .effect-toggle {
  position: relative;
  top: 5px;
  width: 35px;
  height: 20px;
  margin: 0px 10px;
  -webkit-appearance: none;
  background-color: rgba(239, 239, 239, 0.3);
  outline: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .main .looper-outer .effect-popup .effect-header .effect-toggle:checked {
  background-color: #A9C9BD;
}

body .main .looper-outer .effect-popup .effect-header .effect-toggle::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body .main .looper-outer .effect-popup .effect-header .effect-toggle:checked::before {
  left: 15px;
}

body .main .looper-outer .effect-popup .slider-title {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

body .main .looper-outer .effect-popup .slider-control {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #DEFFE7), color-stop(30%, #FFFFFF));
  background: linear-gradient(90deg, #DEFFE7 30%, #FFFFFF 30%);
  border-radius: 15px;
  width: 200px;
  height: 10px;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}

body .main .looper-outer .effect-popup .slider-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none !important;
}

body .main .looper-outer .effect-popup .slider-control::-webkit-slider-thumb:hover, body .main .looper-outer .effect-popup .slider-control::-webkit-slider-thumbfocus {
  cursor: pointer;
}

body .main .looper-outer .effect-popup .slider-control::-moz-range-thumb {
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none !important;
}

body .main .looper-outer .effect-popup.active {
  opacity: 1;
  pointer-events: all;
  top: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

body .main .add-looper {
  color: #FFFFFF;
  font-size: 40px;
  border-radius: 25px;
  background-color: rgba(239, 239, 239, 0.3);
  padding: 25px;
  cursor: pointer;
}

body .glider-contain {
  margin-bottom: 30px;
}

@media screen and (min-height: 900px) {
  body .glider-contain {
    margin-bottom: 50px;
  }
}

body .glider-contain .glider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body .glider-contain .glider::-webkit-scrollbar {
  height: 0px !important;
  width: 0 !important;
  background: transparent;
  display: none;
}

body .glider-contain .glider .glider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bottom {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 300px;
}

body .bottom .metronome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

@media screen and (min-height: 900px) {
  body .bottom .metronome {
    margin-bottom: 40px;
  }
}

body .bottom .metronome .metronome-dot {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

body .bottom .metronome .current-dot {
  background-color: #4B4B4B;
}

body .bottom .bpm-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .bottom .bpm-control .bpm {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
  margin-right: 10px;
}

body .bottom .bpm-control .bpm .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}

body .bottom .bpm-control .bpm .text-wrapper .input-wrapper .bpm-input {
  display: block;
  margin-top: -0.1em;
  margin-bottom: 0px;
  margin-right: 5px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
  border-radius: 0;
  border: 0px;
  border-bottom: solid 3px;
  width: 45px;
  padding: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: transparent;
}

body .bottom .bpm-control .bpm .text-wrapper .bpm-text {
  padding: 0px;
  margin-right: 10px;
}

body .bottom .bpm-control .bpm-mute {
  padding: 18px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
}

body .bottom .bpm-control .bpm-mute i {
  font-size: 25px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .bottom .bpm-control .bpm-mute i:hover, body .bottom .bpm-control .bpm-mute i:focus {
  cursor: pointer;
}

body .bottom .bpm-control .bpm-mute .bpm-mute-disable {
  opacity: 30%;
}
/*# sourceMappingURL=style.css.map */